.text__word {
  display: inline-block;
  padding: 5px 0 0;
  overflow: hidden;

  & > span {
    display: inline-block;
    transform: translate3d(0, 1.5em, 0);
  }
}

.screen.active .text__word > span {
  transform: translate3d(0, 0, 0);
}

.intro__title > .text__word {
  letter-spacing: -8px;

  &:first-child {
    padding: 26px 0 0;
  }
}

.intro__date.text-animation > .text__word > span.space {
  width: 10px;
}
